[Unit]
Description=TAPO restart
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/tapo-watchdog.py

[Install]
WantedBy=multi-user.target